<div class="flex items-center justify-center w-full h-screen bg-gray-100">
    <div class="w-[500px] h-[300px] bg-white rounded-md flex flex-col gap-8 p-6 shadow-lg">
  
      <div class="flex justify-center items-center w-full flex-col gap-4">
        <p class="text-gray-800 text-lg font-semibold">Email Verification Required</p>
        <p class="text-gray-700" *ngIf="email">The account associated with {{ email }} has not been verified.</p>
      </div>
  
      <div>
        <p class="text-gray-700">
          To complete the registration process, please click the link sent to your email address.
        </p>
      </div>
  
      <div class="flex justify-center mt-4">
        <button (click)=" navigateLogIn()" class="bg-blue-500 px-4 py-2 rounded-md text-white font-semibold hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue active:bg-blue-800">
          Resend Verification Email
        </button>
      </div>
  
    </div>
  </div>
  