
<div>
    <div class="pt-5">
        <app-create-canvas-button (onClickEvent)="navigateToCreateCanvasForm()">
    
        </app-create-canvas-button>
    </div>
    
        <div class="mt-[2rem] flex flex-wrap  justify-center gap-3 w-full  h-[500px]">
            <ng-container>
                <div *ngFor="let canvas of canvases" >
                    <app-canvas-card [canvas]="canvas" [canvasCardProperties]="canvasCardProperties" >

                    </app-canvas-card>
                </div>
            </ng-container>
        </div>
        
        <div *ngIf="paginationHeader && canvases.length>0" class="fixed bottom-0  pb-5 w-full">
            <div class="flex justify-center">
                <app-pagination 
                (onPageChanged)="onPageChanged($event)"
                [currentPage]="paginationHeader.pageNumber"
                [itemsPerPage]="paginationHeader.pageSize"
                [numberOfPages]="paginationHeader.numberOfPages">

            </app-pagination>

            </div>
        </div>
        
    
</div>

