<div class="w-[60rem] h-20 rounded-md bg-white flex justify-between items-center shadow-md">
    <button (click)="showPreviousPaginationOptions()" class="ml-3 border border-blue-500 bg-blue-100 w-20 h-12 flex justify-center items-center rounded-md hover:bg-blue-200 hover:border-blue-600 transition duration-300">
        <p class="text-lg text-blue-500 font-semibold">Back</p>
    </button>


    <div class="flex gap-3">

        <div *appRepeat="[startingPageSetIndex,endingPageSetIndex] let currentIndex=index">
            <button (click)="changePage(currentIndex)" 
            class="border border-blue-500 bg-blue-100 w-12 h-12 flex justify-center items-center rounded-md hover:bg-blue-200 hover:border-blue-600 transition duration-300"
            [ngClass]="{'bg-blue-500 text-white': currentIndex === selectedPageIndex}"
            >
           

                <p class="text-lg text-blue-500 font-semibold"
                [ngClass]="{'text-white': currentIndex === selectedPageIndex}">{{currentIndex}}</p>
            </button>
        </div>
        
    
    </div>
    
    <div class="flex flex-row">
        <button  (click)="showNextPaginationOptions()" class="mr-2 border border-blue-500 bg-blue-100 w-20 h-12 flex justify-center items-center rounded-md hover:bg-blue-200 hover:border-blue-600 transition duration-300">
            <p class="text-lg text-blue-500 font-semibold">Next</p>
        </button>
    
        <button *ngIf="hasSubmitButton" (click)="Submit()" class="mr-2 border border-blue-500 bg-blue-100 w-20 h-12 flex justify-center items-center rounded-md hover:bg-blue-200 hover:border-blue-600 transition duration-300">
            <p class="text-lg text-blue-500 font-semibold">Submit</p>
        </button>
    </div>
  
</div>
